.dash {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 1.5rem;
    gap: 1rem;

    h1 {
        grid-column: 1 / 2;
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;

    }

    section {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
        padding: 0;
    }


}




.article-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;



    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li a {
        display: block;
        margin: 0;
        padding: .5rem 0 2rem 0;

    }

    img {
        width: 20vh;
        height: auto;
        object-fit: cover;
    }

}


.utforsk {

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    ul {

        flex-direction: column;

        li {
            display: flex;
            list-style: none;
            margin: .3rem;
            padding: 1rem;
        }

    }
}


@media only screen and (min-width: 760px) {
    .dash {
        grid-template-columns: auto auto 15%;
        grid-template-rows: auto;
        margin: 3rem;

        h1 {
            grid-column: 1 / 4;
        }
    }

    .mixmatch {
        justify-content: space-evenly;
        grid-row: 3/4;
        grid-column: 1/4;

        div {
            display: flex;
            gap: 2rem;
        }

        article {
            display: flex;
            flex-direction: column;
        }


    }
}