section {
  display: flex;
  justify-content: space-between; /* Plasserer artiklene med like mellomrom mellom dem */
  margin: 0px; /* Legg til litt mellomrom på sidene */

  article {
    display: flex; /* Plasserer elementene i samme rad */
    flex-direction: column; /* Setter retningen til kolonne for innholdet */
    align-items: center; /* Justerer elementene til midten av aksen */
    
    

    h1 {


    }
  }
}

/*Pc og tablet specific css*/
@media only screen and (min-width: 800px) {}

 