.dash {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 1.5rem;
    gap: 1rem;

    h1 {
        grid-column: 1 / 2;
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;

    }

    section {
        display: flex;
        flex-wrap: wrap;
        margin: 2rem;
        padding: 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 1rem;
    }
}




.article-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;



    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li a {
        display: block;
        margin: 0;
        padding: .5rem 0 2rem 0;

    }

    img {
        width: 20vh;
        height: auto;
        object-fit: cover;
    }

}


.utforsk {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto;
    gap: 1rem;
}


@media only screen and (min-width: 670px) {
    .dash {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: 3rem;

        h1 {
            grid-column: 1 / 3;
        }
    }
}