@import "variabler";

.footer {
    width: 100%;
    padding: 0;
    padding-bottom: 1rem;
    background-color: $colorBlue;


    p {
        text-align: center;
        color: $colorGray;
        font-size: small;
    }

    h5{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0; 
        
        a {
            
            color: $colorWhite;
            text-decoration: none;
        }
    }
  
    
}