@import 'variables';

.footer {
    background-color: $Hovedcolor; /* Bakgrunnsfarge for footer */
    color: $witecolor; /* Tekstfarge for footer */
    text-align: center;
    padding: 1rem; /* Padding rundt innholdet i footer */
    
    p {
      margin: 0; /* Fjern standardmarginen for paragrafen */
    }
  }
  