@import "variabler";

.genres {
     /*  grid-template-columns: repeat(4, 1fr); */


     h2 {
          font-size: 1.5rem;
          margin: 0 0 1rem 0.5rem;
          padding-top: 2rem;
     }

     ul {
          display: flex;
          flex-wrap: wrap;
          padding: inherit;
          justify-content: center;
     }

     li {
          padding: 0;
          list-style: none;

          a {
               padding: .75rem;
          }

          ;
     }


}

.pos {
     position: relative;
}

.checkbox {
     position: absolute;
     right: 25px;
     top: 22px;
}