// Container for the entire section
.movie {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 0px;

    
    img {
        display: flexbox;
        width: 150px;
        
        height: auto;
  

        
    }

    
      

}