// Container for the entire section
.movie {
    display:flex;
    flex-direction:row;
    flex-direction:row;
    column-gap:2rem;
    justify-content: center;
    gap:2rem;

    
    img {
        display: flexbox;
        width: 450px;
        gap: 2rem;
        height: auto;
  

        
    }

    
      

}