@import "footer";
.login {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 10vh;

    h3 {
        margin-bottom: 1rem;
        font-size: 40px;
    }

    p{
        margin-bottom: 1rem;
        font-size: 20px;
        font-weight: bold;
    }

    ul {
        display: flex;
        flex-direction: row; /* Endret til row */
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 0.1rem;
    }

    li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
