.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    height: 70vh;
    li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    
        

    }
