.login {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 70vh;

    h3 {
        margin-bottom: 1rem;
        font-size: 30px;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: .5rem;
    }

    li {

        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }




}