$Hovedcolor: #1976d2;
$witecolor: white;
$colorGrey:#dbdbdb;


/*Pc og tablet specific css*/
@media only screen and (min-width: 800px) {

    body #root main section #movieingenreList {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*Pc og tablet specific css*/
/*Menypunkter på veldig små skjermer*/
@media only screen and (max-width: 675px) {

    header nav {
        justify-content: space-between;

        ul {
            flex-direction: column;
        }
    }
}
/// etter 400px i bredde blir nav bar elementene plassert under hverandre
/// 
/// 
/// *Pc og tablet specific css*/
@media only screen and (min-width: 800px) {

    body #root main section #catchupList {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    body #root main section #gosafelist {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    body #root main section #wishvsfav1 {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    body #root main section #wishvsfav2 {
        max-width: 1200px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}