@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap');

@import "_variabler";
@import "footer";
@import "header";
@import "moviecard";
@import "login";
@import "dashboard";
@import "genres";
@import "genrespage";
@import "userprofile";

* {
    box-sizing: border-box;
}

.user-list{
    list-style-type: none;
    padding: .75rem;  
    border: 1px solid $colorBlue;
    overflow: hidden;
    box-shadow: 10 10px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin: .6rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.movie-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 1rem;
    padding: 0;
    list-style: none;
}
 
body {
    margin: 0;
    font-family: "Roboto", "Noto", sans-serif;
    background-color: $colorGray;
}