@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap');
@import "_variabler";
@import "footer";
@import "header";
@import "moviecard";
@import "login";
@import "dashboard";
@import "genres";
@import "genrespage";
@import "userprofile";
@import "button";
@import "logo";

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: "Roboto", "Noto", sans-serif;
    background-color: $colorGray;
}

main {
    min-height: 74vh;
    margin: 1.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1rem;
}



@media only screen and (min-width: 670px) {
    main {
        margin: 3rem;
    }
}